---
import '../styles/tailwind.css';
import Nav from '../components/Nav.astro';
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Nav />
		<div class="container mx-auto p-4">
			<h1>My Blog</h1>
			<h2>Latest Posts</h2>
			<li><div class="card"><a href="/posts/post-3/">Post 3</a></li>
			<li><a href="/posts/post-2/">Post 2</a></li>
			<li><a href="/posts/post-1/">Post 1</a></li>
		</div>
	</body>
</html>
